body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(236, 137, 165);
    margin:auto;
    padding: 0;
}
nav {
    background-color: #28a745;;
    padding: 15px;
    text-align: center;
}

nav a {
    outline-color: #5028a7;
    text-decoration: none;
    margin:15px;
    font-weight: bold;
}
nav{
    text-align: center;
}
